//custom variables

$primary:#1594FE;

//import the functions and variables

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-color:
(
    "back":#101c24,
    "primary-50":#E3F2FF,
    "backkk":#1544AB,
    "main":#1544AB,
    "white":#fff
);

$theme-colors: map-merge($custom-theme-color , $theme-colors );
//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap'; 